h2 {
    width: 7em;
    margin: 0 auto 1em auto;
    text-decoration: underline;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

#container div img {
    border-radius: 4px;
    padding: 5px;
    width: 15em; height: 15em;
}

@media all and (min-width: 78.125em) {
    #container {
        width: 75em;
    }
}

@media all and (max-width: 67.9em) and (min-width: 46.875em) {
    #container {
        width: 40em;
    }
}

/* small mobile device */
@media all and (max-width: 46.875em) {
    #container + p {
        width: 75%;
        margin: auto;
    }
}

/* all other screen device */
@media all and (min-width: 46.875em) {
    #container + p {
        width: 25em;
        margin: auto;
    }
}